# python3 -m venv flatnetenv
# source flatnetenv/bin/activate
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu
# pip install -r requirements.txt

common
future
h5py
matplotlib
numpy
opencv-contrib-python
recordclass
sacred
scikit-image
scipy
streamlit
tensorboard
torchsummary
tqdm

